@using Online_Store.Models

@model IEnumerable<ProductCustomerViewModel>

@{
    ViewData["Title"] = "Index";
}

<table>
    <tbody>
        @foreach (var product in Model)
        {
        <tr>
            <td>
                <div class="product-wrap">
                    <div class="product-item">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg">
                    </div>
                    <div class="product-title">
                        <a class="fs-4" asp-controller="Product" asp-action="Details">@product.Name</a> <br />
                        <h3>₽ @product.Price</h3>
                    </div>
                </div>
            </td>

            <td>
                <a class="btn btn-primary" asp-controller="Product" asp-action="Details" asp-route-id="@product.Id">Подробнее</a> <br />
                <a class="btn btn-primary" asp-controller="ShoppingCart" asp-action="Add" asp-route-id="@product.Id">Добавить в корзину</a> <br />
                <a class="btn btn-primary" asp-controller="ShoppingCart" asp-action="Add" asp-route-id="@product.Id">Убрать из корзины</a>
            </td>
        </tr>
        }
    </tbody>
</table>
