@using Online_Store.Areas.Admin.Models

@model IEnumerable<ProductViewModel>

@{
    ViewData["Title"] = "Index";
}


<a asp-area="Admin" asp-controller="Product" asp-action="Create">Добавить новый товар</a>

@foreach (var product in Model)
{
    <div>
        <div>
            <img src="https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg"><br />
            <div>
                <a asp-action="Edit" asp-route-id="@product.Id"> Редактировать</a>
                <a asp-action="Details" asp-route-id="@product.Id">Подробнее</a>
                <a asp-action="Delete" asp-route-id="@product.Id">Удалить</a>
            </div>
        </div>
        <div>
            <h3><a href="">@product.Name</a></h3>
            <span>₽ @product.Price</span>
        </div>
    </div>
}




