@using Online_Store.Models;
@using System.Globalization

@model CartTableViewModel

<table>
    <tbody>
        @foreach (var product in Model.Products)
        {
            <tr>
                <td>
                    <div class="product-item">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg">
                    </div>
                    <div class="product-title">
                        <a class="fs-4" asp-controller="Product" asp-action="Details">@product.Name</a> <br />
                        <h3>₽ @product.Price</h3>
                    </div>
                </td>

                <td>
                    <div class="product-container">
                        <label> Промежуточный итог</label>
                        <input id="@product.GetHashCode()" value="@product.Total" readonly>
                        <div class="product-amount">
                            <a class="btn badge-info" onclick="changeValue(document.getElementById('@product.Id'), document.getElementById('@product.GetHashCode()'),@product.Total ,@product.Price.ToString(CultureInfo.InvariantCulture), -1)">-</a>
                            <input type="number" id="@product.Id" asp-for="@product.Amount" min="1" step="1">
                            <a class="btn badge-info" onclick="changeValue(document.getElementById('@product.Id'), document.getElementById('@product.GetHashCode()'),@product.Total ,@product.Price.ToString(CultureInfo.InvariantCulture), 1)">+</a>
                        </div>
                        <input type="submit" data-product-id="@product.Id" data-cart-id="@Model.Id" onclick="AddToCart(this)" value="Add to cart" />
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts
{
    <script type="text/javascript" src="~/js/products.js"></script>
}